
<p>Blog Show</p>
<%= image_tag @blog_post.cover_image if @blog_post.cover_image.present?%>
<p><%= @blog_post.title %></p>
<p><%= @blog_post.content %></p>
<p><%= @blog_post.published_at %></p>

<%= link_to "Back", :back %>
<%= link_to "Edit", edit_blog_post_path(@blog_post) if user_signed_in? %>